* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
}

ul {
    list-style: none;
}

body {
    background-color: #AFD6AD;
    color:#375B36;
}

.body__title {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 10px;
}

.panel {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px 0;
}

.panel__excursions {
    margin-top: 50px;
}

.excursions {
    display: flex;
    flex-wrap: wrap;
}

.excursions__item {
    border: 1px solid #bbb;
    margin: 10px;
    padding: 20px;
    width: calc(50% - 20px);
    border-radius: 20px;
    background-color: #375B36;
    color: #AFD6AD
}

.excursions__title {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
}

.excursions__description {
    padding: 10px 0 20px 0;
}

.excursions__field-name {
    color: white;
    
}

.panel__form {
    background-color: #f4f4f4;
    padding: 20px;
    width: 30%;
}

.uploader, .order {
    border-bottom: 1px solid #bbb;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.form__field {
    display: block;
    width: 100%;
    padding: 5px 20px;
    color: #375B36;
    background-color: white;
    border: none;
    font-family: "League Spartan", sans-serif;
    font-size: 1rem;
    border-radius: 20px;
    box-shadow: none;
    appearance: none;
    border-style: solid;
}

.form__field--longtext {
    height: 100px;
}

.form {
    width: 100%;
}

.form__row {
    margin: 0 10px;
}

.form__label {
    font-size: 1rem;
    font-weight: 600;
}

.order__field-submit, .excursions__field-input--update, .excursions__field-input--remove {
    padding: 5px 20px;
    margin-left: 10px;
    color: white;
    background-color: #6A9B68;
    border-color: #AFD6AD;
    border: 1px solid #375B36;
    font-family: "League Spartan", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 20px;
    text-transform: uppercase;
    box-shadow: none;
    appearance: none;
    border-style: solid;
    margin-top: 20px;
    cursor: pointer;
}